*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: 0;
}
body {
	font-family: NSARegular, "Roboto", sans-serif;
	overflow-x: hidden;
	background-color: #F8F2E4;
}

.container {
	max-width: 1300px;
	margin: 0 auto;
	padding: 0px 15px;
}

button{
	border: none;
	background: transparent;
}

/*Modals*/
.popup{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-image: linear-gradient(75deg,  rgba(210,0,17,0.7) -5%, rgba(0,49,155,0.7) 60%,rgba(234,163,0.4) 90%);
}

/*Our works*/
.works {
	padding: 5rem 0;
  }
 
  .works img {
	margin-bottom:1rem;
  }
 
  a:focus{
	outline: none;
}
  
.bigImg{
	width:500px;
	background-position: center center;
	background-size:cover;
	box-shadow: 10px -20px;
}

header{
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center center;
	background-attachment: fixed;
	@media screen and (max-width: 1680px){
		background-size: cover;
	}
}

.contr{
	max-width: 1200px;
	margin: 10px auto;
}
#present{
	background: linear-gradient(to top, transparent, rgba(2, 35, 106, 0.7)) no-repeat bottom;
    padding:2rem 0;
}
.animated{
	animation: fadeInRight 1s ease-in-out;
}
@keyframes fadeInRight {
	from {
	  opacity: 0;
	  transform: translateX(300px);
	}
	to {
	  opacity: 1;
	}
}